.test-area {
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: #efefef;
}

.header-block {
    border: gray 1px solid;
    margin: 0 !important;
    padding: 10px 0px;
}

.header-names {
    border-bottom: black 1px solid;
    text-align: center;
}