.order-body {
  margin: 10px;
  border: #adb5bd 1px solid;
  border-radius: 5px;
}
h5 {
  background-color: lightgray;
  padding: 5px;
}
.user-card {
  width: 100%;
  margin-top: 10px;
}
.card-header {
  background: #9aa0a7;
}
