
.flex-align {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}
.patient-data {
    /* border: gray 1px solid; */
    border-top: black 1px solid !important;
    border-bottom: black 1px solid !important;
    text-align: left;
    padding: 10px 0;
}

.inner-body {
    border: black 2px solid;
    margin: 15px 0;
}

.item-table {
    text-align: left;
}

.bill-header {
    margin: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.heading {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
    justify-content:  flex-end !important;
    text-align: end
}

.body-padding {
    padding: 15px;
}
.token-part {
    margin-top: 100px;
    text-align: center;
}

.token-head {
    /* background-color: lightgrey; */
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
    font-weight: bold;
}

.token-part .table-bordered td, .token-part .table-bordered th{
    border: 2px solid black;
}
