.accounts-card {
  width: 100%;
  margin-top: 10px;
}
.card-header {
  background: #9aa0a7;
}

.dropdown {
  justify-content: center;
}
.btndown {
  justify-content: left;
}

.tdate {
  text-align: left;
}

.right {
  text-align: right;
}
