
.page-body {
    margin: 10px;
    font-size: 12px;
}

.view-details {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    
}

.view-details Button {
    height: fit-content;
}

.page-body Button {
        font-size: 10px !important;
        /* width: fit-content; */
    }
