
.time-date {
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
    
    background-color: darkgray;
}

.time-date div {
    width: 100%;
    padding: 10px;
    border : #212529 1px solid;
}

.form-control {
    /* width: fit-content !important; */
}