
.flex-align {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}
.patient-data {
    border: gray 1px solid;
}

.inner-body {
    border: black 1px solid;
    margin: 15px 0;
}
.inner-body .table {
    margin-bottom: 0px;
}
.outer-body {
    margin: 20px;
}

.item-table {
    text-align: left;
}

.bill-header {
    margin: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

.heading {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.text {
    text-align: left;
  }

  .text-records {
      text-align: left;
      padding: 2px 5px;
  }
  .text-records .col-3 {
    font-size: 12px;
    font-weight: bold;
  }
  .text-record-block {
      padding: 5px 10px;
  }
